* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.bodyy {
    font-family: 'Combo', cursive;
    color: #3eb489;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    /* align-content: center;
    align-items: center; */
    font-size: 56px;
    letter-spacing: 8px;
    background-image: linear-gradient(to right, #f00, #ff0, #0f0, #00f);
    -webkit-background-clip: text;
    animation: animate 7s linear infinite;
    background-size: 1000%;
    -webkit-text-fill-color: transparent;
}

@keyframes animate {
    0% {
        background-position: 0% 100%;
    }
    50% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}

.design {
    visibility: hidden;
    transform: translateX(0%) translateY(0%);
    position: absolute;
    top: 20%;
    left: 36.5%;
    font-size: 35px;
    font-family: 'Noto Sans KR', sans-serif;
    color: red;
}

.bodyy:hover+.design {
    transition-delay: 500ms;
    visibility: visible;
}

.date {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #3e59b4;
    /* transform: translateX(-50%) translateY(-50%); */
    position: absolute;
    top: 2%;
    left: 5%;
    /* align-content: center;
    align-items: center; */
    font-size: 30px;
    letter-spacing: 2px;
}

@media screen and (max-width: 200px) {
    .bodyy {
        font-size: 25px;
        top: 45%;
        left: 55%;
        width: 100%;
        letter-spacing: 2px;
    }
    .design {
        font-size: 10px;
        top: 75%;
        left: 10%;
        width: 100%;
    }
    .date {
        font-size: 15px;
    }
}

@media screen and (min-width: 300px) and (max-width: 400px) {
    .bodyy {
        font-size: 45px;
        top: 46%;
        left: 65%;
        width: 100%;
        letter-spacing: 2px;
    }
    .design {
        font-size: 10px;
        top: 92%;
        left: 60%;
        width: 100%;
    }
    .date {
        font-size: 25px;
    }
}

@media screen and (min-width: 400px) and (max-width: 600px) {
    .bodyy {
        font-size: 45px;
        top: 46%;
        left: 75%;
        width: 100%;
        letter-spacing: 3px;
    }
    .design {
        font-size: 13px;
        top: 92%;
        left: 65%;
        width: 100%;
    }
    .date {
        font-size: 25px;
    }
}

@media screen and (min-width: 601px) and (max-width: 755px) {
    .bodyy {
        font-size: 45px;
        top: 50%;
        left: 70%;
        width: 100%;
        letter-spacing: 4px;
    }
    .design {
        font-size: 16px;
        top: 90%;
        left: 55%;
        width: 100%;
    }
    .date {
        font-size: 25px;
    }
}
