* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.bodyy {
    font-family: 'Combo', cursive;
    color: #3eb489;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    /* align-content: center;
    align-items: center; */
    font-size: 56px;
    letter-spacing: 8px;
}

.design {
    visibility: hidden;
    transform: translateX(0%) translateY(0%);
    position: absolute;
    top: 20%;
    left: 36.5%;
    font-size: 35px;
    font-family: 'Noto Sans KR', sans-serif;
    color: red;
}

.bodyy:hover+.design {
    transition-delay: 500ms;
    visibility: visible;
}

.date {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #3e59b4;
    /* transform: translateX(-50%) translateY(-50%); */
    position: absolute;
    top: 2%;
    left: 5%;
    /* align-content: center;
    align-items: center; */
    font-size: 30px;
    letter-spacing: 2px;
}
